body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(0, 0, 45);
  font-family: Arial, sans-serif;
  transition: 0.3s;
}

/* Dark mode */
body.dark {
  background: #121212;
}

.calculator {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  width: 270px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

body.dark .calculator {
  background: #1e1e1e;
}

.display {
  width: 100%;
  height: 60px;
  border: none;
  background: #f3f3f3;
  border-radius: 10px;
  text-align: right;
  font-size: 26px;
  padding: 10px;
  margin-bottom: 15px;
}

body.dark .display {
  background: #333;
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  background: #e0e0e0;
}

body.dark button {
  background: #444;
  color: white;
}

.operator {
  background: #667eea;
  color: white;
}

.equal {
  background: #764ba2;
  color: white;
}

.ac {
  background: #ff6b6b;
  color: white;
}

.zero {
  grid-column: span 2;
}

.mode-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
